body {
  font-family: "mostra-nuova", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  background: linear-gradient(90deg, #fff1eb 0%, #ace0f9 100%);
}

h1 {
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 28px;
  text-align: center;
}

.video {
  max-width: 80%;
}

.img-responsive {
  display: flex;
  margin: 60px;
  max-width: 50%;
}

button {
  background-color: blue;
  color: white;
}
